html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 50px;
}

:lang(ta) {
  font-family: 'Mukta Malar';
  font-weight: lighter;
}

.navbar {
  background-color: #d5decb;
  position: fixed;
}

#home {
  background-image: url(images/background_tile.png);
  background-color: #d5decb;
  background-repeat: repeat;
  background-size: 80px;
  background-attachment: fixed;
  display: table;
  height: 100%;
  width: 100%;
}

#events {
  background-image: url(images/beige-tiles.png);
  background-repeat: repeat;
  background-attachment: fixed;
  display: table;
  height: 100%;
  width: 100%;
}

#location {
  background-image: url(images/background_tile.png);
  background-repeat: repeat;
  background-size: 80px;
  background-attachment: fixed;
  display: table;
  height: 100%;
  width: 100%;
}

.list-group-item {
  background-color: transparent;
  font-family: 'Rajdhani', cursive;
  font-size: 2rem;
}

.col {
  margin-bottom: 1.5rem;
  text-align: center;
}
.fancy{
  font-family: 'Parisienne', cursive;
}
h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Rajdhani', cursive;
}

h2 {
  font-weight: lighter;
  font-family: 'Rajdhani', cursive;
  font-size: 3rem;
}

h3 {
  font-weight: lighter;
  font-size: 2rem;
  font-family: 'Rajdhani', serif;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
